<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add your Car</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
        width: 25%;
        gap: 6px;
        margin: auto;
      }

      p {
        width: 25%;
        margin: auto;
        margin-top: 6px;
      }
      .nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <div class="nav">
      <h1><a href="{% url 'carWash:index' %}">Home</a></h1>
      <h1>Add your Car</h1>
    </div>
    <form action="{% url 'carWash:addCar' %}" method="post">
      {% csrf_token %}
      <label for="email">Brand</label>
      <input type="text" name="brand" />
      <label for="model">Model</label>
      <input type="text" name="model" />
      <label for="type">Type</label>
      <input type="text" name="type" />
      {% if error_message %}
      <p><strong>{{error_message}} </strong></p>
      {%endif%}
      <button type="submit" style="width: 25%">Add</button>
    </form>
  </body>
</html>
